{% extends 'base.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block body %}

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('app_sortie_index') }}"></a>Annuler</button>
{% endblock %}
