{% extends 'base.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block body %}

    {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sortie_index') }}">
        <button class="annul-profil">Annuler </button>
    </a>
{% endblock %}
