.titreSortie{
    text-align: center;
}
.cards {
    margin: 2em 5em;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 20px;

}

.card {
    text-align: center;
    display: grid;
    grid-template-rows: max-content 50px 0fr;
}
.boutonsShow{
    display:block;
    text-align: center;
}
.boutonsShow a{

    text-decoration: none;
}
.btnSup{
    display:block;
    text-align: center;
}
.container-formSor{

}
.grids {
    margin: 2em 5em;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 20px;

}

.grid {
    text-align: center;
    display: grid;
    border: 2px solid rgba(210, 215, 211, 0.8);
    grid-template-rows: max-content 0px 1fr;
}
/*.form-sortie{

    display: flex;
    justify-content: center;
    margin: 15% 15%;
}*/

