{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <div class="container">
        {{ include('sortie/_form.html.twig') }}
        {% for message in app.flashes('error') %}
            <div class=" alert alert-danger">
                <p>{{ message }} </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
