{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class=" alert alert-danger">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {{ include('sortie/_form.html.twig') }}
{% endblock %}
