{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div class="machin">
        <h1 class="err">Ooops, une erreur est survenue </h1>
        <div id="fun" class="container-fluid">
            <div>
                <img src="{{ asset('image/oops.png') }}" alt="acces_refusé" style="max-width: 1000px;max-height:700px;padding-left: 300px">
            </div>
        </div>
        <a href="{{ path('app_sortie_index') }}">Accueil </a>
    </div>

{% endblock %}